.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
Thumbs.db
